.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#body {
  background-color: LightCyan;
  color: Gray;
  font-family: 'Philosopher', sans-serif;
}

.header {
  float: center;
}

.navbar {
  color: Gray;
}

.navbar-nav {
  color: Gray;
}

.title {
  float: center;
}

.layoutheader {
  padding-left: 30px;
}

.title {
  text-align: center;
  padding-left: 50 px
}

.tameimpala {
  text-align: center;
}

#aboutuswords {
  border: 5px solid gray;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: inherit: 10px;
}
