.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#body {
  background-color: LightCyan;
  color: Gray;
  font-family: 'Philosopher', sans-serif;
}

.header {
  float: center;
}

.navbar {
  color: Gray;
}

.navbar-nav {
  color: Gray;
}

.title {
  float: center;
}

.layoutheader {
  padding-left: 80px;
}
