<!DOCTYPE html>
<html>
<head>
  <title class="title">{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="body" id="body">
  <h1 class="header"> Philly Show Database </h1>
  <div class="container">

<header class="navbar navbar-static-top">
  <div class="container">
  <nav class="navbar-collapse">
    <ul class="nav navbar-nav">
     <li>
       <a href="/">Homepage</a>
     </li>
     <li>
       <a href="upcoming.html">Upcoming Shows</a>
     </li>
     <li>
       <a href="aboutus.html">About Us</a>
     </li>
   </ul>
  </nav>
</div>
</header>


<div class="container">
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
